#bgImage{
    margin : auto;
    padding: auto;
    width : 30%;

    float : center;
    background-color: white;
    font-size : 50px;
}

/*------------------탭 메뉴 처리------------------*/

#tabMenu{
    overflow:hidden;
    background-color : skyBlue;
}

#tabMenu .tabClass {
    position:relative;
    float:right;
    font-size : 35px;
}

#tabMenu .tabClass .tabCl{
    padding:25px;
    display:inline;
}

#tabMenu:after{
    content:'';
    display:block;
    clear:both;
}
/*------------------main 처리------------------*/
#main{
    float:left;
}

#main:after{
    display:block;
    clear:both;
}

/*------------------카테고리 처리------------------*/
#main_Category{
    width:15%;
    float:left;
    margin:auto;
    padding:auto;
}

#main_Category:after{
    clear:both;
    display:block;
    content:'';
}

/*------------------mainMenu 처리------------------*/
#main_Menu{
    width:75%;
    float:left;
    padding:10px;
}



/*------------------날씨 처리------------------*/
#weather{
    float:right;
}



/*------------------footer 처리------------------*/

footer{
    position:absolute;
    clear : both;
    background : gray;

}
