#bgImage{
    margin : auto;
    padding: auto;
    width : 30%;
    float : center;
    background-color: white;
    font-size : 50px;
}

/*------------------탭 메뉴 처리------------------*/

#tabMenu{
    overflow:hidden;
    background-color : skyBlue;
    text-align: center;
}

#tabMenu ul{
  list-style-type: none;
  margin:0px;
  padding:0px;
}

.tabUl{
  position:relative;
  overflow: hidden;
}

#tabMenu .tabNum {
    position:relative;
    display:inline-block;
    margin-left: 15px;
    margin-right: 15px;
    padding:0px;
    font-size : 35px;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}


#tabMenu:after{
    content:'';
    display:block;
    clear:both;
}
